{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

This is the cart page.proced to review your items and place the order


{% endblock %}
{% block title %}

 Cart -ABC Company PVT LTD
{% endblock %}
{% block content %}
{% if not cart_items  %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart is empty
        </h1>
        <br>
        <p class="text-center">
            Please Click <a href="/">Here</a>to continue shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart
        </h1>
        <br>
    </div>
    <div class="row mx-auto">
        <div class=" col-sm-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
             <thead class="my_custom_thead">
             <tr>
                 <th colspan="5">
                     Your Items
                 </th>
             </tr>
             </thead>
                <tbody>

                <body style="background-color:powderblue;">
                  </body>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href="" ><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>

                    </td>
                    <td>
                    <td class="text-lef">
                    {{cart_item.product.name}}
                    <br>
                    SKU: {{cart_item.product.id}}
                    <br>
                    Price: $ {{cart_item.product.price}}
                    <br>
                    Qty : {{cart_item.quantity}} x $ {{cart_item}}

                    </td>
                    <td>
                        $ {{cart_item.sub_total}}
                    </td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <td>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"> <i class="fa fa-plus custom_icon" > </i> </a>&nbsp;
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-trash custom_icon"></i></a>
                    </td>
                    {% else %}
                       <td>

                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                    </td>
                     {% endif %}
                </tr>
               {% endfor %}
                </tbody>

            </table>
    </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                <tr>
                    <th>
                        Checkout
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Please review your shopping cart items before proceeding with the order payment...
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        Your Total is : <strong> {{ total }}</strong>
                        <button id="rzp-button1">Pay with Razorpay</button>
<!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->


                    </td>
                </tr>
                </tbody>
            </table>
     <div class="mx-auto" >
         <a href="" class="btn btn-secondary btn btn-block my_custom_button">continue shopping</a>
           <a href="" class="btn btn-secondary btn btn-block my_custom_button">payments</a>
         <h1 style="background-color:white;  text-align: center;"></h1>

<p style="background-color:Tomato; text-align: center;">Your location to delivery..find out the Maps..</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>
<div>
</div>
        </div>
        </div>

        </div>

{% endif %}

{% endblock %}