<!--<body style="background-color:red;"></body>-->
<!-- <style>-->
<!--    @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");-->
<!--  </style>-->
<!--&lt;!&ndash;  <div style="min-width:8erm">&ndash;&gt;-->
<!--<h1 style="background-color:white;  text-align: center;"></h1>-->

<!--      <p style="background-color:Tomato; text-align: center;">Your location to delivery..find out the Maps..</p>-->
<!--<div class="google-map" style="text-align: center"; >-->

<!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--<div>-->
<!--    <div>-->
<!--        <div>-->
<!--            <div>-->
<!--                <style>-->
<!--                p{-->
<!--                font-size:78px;-->
<!--                text-align:dropdown;-->
<!--                }-->
<!--                footer{-->
<!--                background:greenyellow;-->
<!--                font-size:18px;-->
<!--                padding:35px;-->
<!--                text-align:center;-->
<!--                position:dropdown;-->
<!--&lt;!&ndash;                position:absolute;&ndash;&gt;-->
<!--                right:0;-->
<!--                left:0;-->
<!--                bottom:0;-->

<!--                }-->

<!--              </style>-->

<!--<footer>🔥I'm the footer. My margin pushes me down.🔥</footer>-->
<!--&lt;!&ndash;<div class="footer navbar-fixed-bottom my_footer"   style="background-color: pink">&ndash;&gt;-->


<!--&lt;!&ndash;    <p class="text-center">&copy;ABC tech pvt ltd.All rights Reserved </p>&ndash;&gt;-->

<!--    </div>-->
<!--</div>-->
<!--  </div>-->
<!--    </div>-->

<div class="footer navbar-fixed-bottom my_footer">

      <p class="text-center">&copy;🔥I'm the footer. My margin pushes me down.🔥 </p>


    </div>

